.button {
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--gray-850);
    border: 0;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);

    svg {
        width: 20px;
        height: 20px;
    } 
    
    // aticar estilo apenas no fvg da esquerda
    svg:first-child {
        margin-right: 1rem;
    }

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8)
    }

    .closeIcon {
        margin-left: 1rem;
    }
}

.loading {
    width: 28px;
    height: 28px;
    border: 4px solid var(--gray-300);
    border-top-color: var(--yellow-500);
    border-radius: 50%;
    position: relative;
    right: -600px;

    animation: spin 0.4s infinite;

    @keyframes spin {
        0% { transform: rotate(0deg) }
        100% {transform: rotate(360deg)}
    }
}